*{
    margin: 0;
    padding: 0;
}
.grid-container{
    width: 95%;
    margin: 20px auto;
    columns: 3;
    column-gap: 20px;
}
.grid-container .photo{
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container .photo img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}