:root{
    --color :  rgb(4, 166, 4);
}
.header{
    padding: 9px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;
    width: 100%;
    position: relative;
}
.header::after{
    content: "";
    width: 97%;
    height: 1px;
    background-color: #d7d7d7;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.header .logo{
    flex-basis: 30%;
}
.header .search-bar{
    flex-basis: 70%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    margin: auto;
    width: auto;
    background-color: #f5f3f3;
    border-radius: 7px;
    height: 50px;
    border: 1px solid #e4e4e4;
    justify-content: space-between;
    gap: 6px;
    padding-inline: 6px;
}


/* TODO : Search Input */

.header .search-input{
    height: 100%;
    border-right: 1px solid rgb(224, 224, 224);
}
.header .search-input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 10px;
    font-size: 18px;
    border: none;
}
.header .search-input input:focus{
    outline: none;
}


/* TODO : Seach TYPE */

.header .search-type {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 4px;
    position: relative;
    border-right: 1px solid rgb(224, 224, 224);
}
.header .search-type .main-type{
    width: 100%;
    border-radius: 4px;
}
.header .search-type .chose-type{
    position: absolute;
    top: 99%;
    left: 50%;
    z-index: 4;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    /* padding: px; */
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 6px #0000001c;
}

.header .search-type  button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    margin: 7px;
    
}

/* TODO : SEARCH BUTTON */
.header .search-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .search-button button{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--color);
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}